<script defer src="/javascript/directRoutes.js"></script>
<title>
  {{titulo}}
</title>
<div div class="card" style="width: 30%" id="container1">
  <p>Bienvenidos al juego de Talleres Sofka</p>
  <button id="BtnLogin"> Iniciar Sesion</button>
  <button id="BtnRegister"> Registrarse</button>
</div>

<link rel="stylesheet" href="/css/index.css" />