<script defer type="module" src="/javascript/validateRegister.js"></script>
<title>
  {{titulo}}
</title>
<div div class="card" style="width: 30%" id="container1">
  <h3>Ingreso de datos para registro</h3>
  <div id="containerInputs">
    <input type="text" id="Name" placeholder="Nombres"></input>
    <input type="text" id="Surnames" placeholder="Apellidos"></input>
    <input type="text" id="Username" placeholder="Username"></input>
    <input id="Password" type="password" placeholder="Password"></input>
  </div>
  <div id="containerButtons">
    <button id="ButtonSend">Enviar</button>
  </div>
</div>

<link rel="stylesheet" href="/css/register.css" />