body {
    background-color: rgb(186, 228, 250);
}

#containerP {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "header header"
        "jugadores dados"
        "jugadores dados"
        "jugadores dados"
        "puntuacion puntuacion";
}

#containerHeader {
    grid-area: header;
    align-items: center;
    display: flex;
    padding: 10px;
    border: black 1px solid;
    margin: 10px;
    justify-content: flex-end;
    border-radius: 10px;
}

#containerJugadores {
    grid-area: jugadores;
    text-align: center;
    display: grid;
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(148, 240, 244, 1) 98%);
}

#containerDados {
    grid-area: dados;
    padding: 10px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "dado1 dado2"
        "dado1 dado2"
        "boton boton";
    background: rgb(255, 255, 255);
    background: linear-gradient(234deg, rgba(255, 255, 255, 1) 0%, rgba(148, 240, 244, 1) 98%);
}

#containerPuntuacion {
    grid-area: puntuacion;
    padding: 10px;
    margin: 1px;
    border: black 1px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, fr);
    grid-template-areas: "player1 player2 player3";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(148, 240, 244, 1) 98%);
}

#logout {
    margin-left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
    border-radius: 10px;
    right: 0;
    padding: 15px;
}

#spanJugador {
    padding: 10px;
    margin: 10px;
}

#spanApuesta {
    padding: 10px;
    margin: 10px;
}

#celdaJugador {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "jugador apuesta select";
}

#celdaBoton {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "boton";
}

#Jugador1 {
    grid-area: jugador;
    height: 50%;
    margin: 15px;
}

#Jugador2 {
    grid-area: jugador;
    height: 50%;
    margin: 15px;
}

#Jugador3 {
    grid-area: jugador;
    height: 50%;
    margin: 15px;
}

#Apuesta1 {
    grid-area: apuesta;
    height: 50%;
    margin: 15px;
}

#Apuesta2 {
    grid-area: apuesta;
    height: 50%;
    margin: 15px;
}

#Apuesta3 {
    grid-area: apuesta;
    height: 50%;
    margin: 15px;
}

#spanJugador {
    grid-area: jugador;
    height: 10px;
}

#spanApuesta {
    grid-area: apuesta;
    height: 50%;
}

#play {
    width: 50%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 120%;
    grid-area: boton;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    border-color: #f44336;
    color: red;
    border-radius: 5px;
}

#play:hover {
    background: #f44336;
    color: white;
}

#dado1 {
    border: black 1px solid;
    border-radius: 10px;
    margin: 10px;
    grid-area: dado1;
    text-align: center;
    font-size: 1000%;
    background-color: white;
}

#dado2 {
    border: black 1px solid;
    border-radius: 10px;
    margin: 10px;
    grid-area: dado2;
    text-align: center;
    font-size: 1000%;
    background-color: white;
}

#playDados {
    grid-area: boton;
    content: "\01F3B2";
    width: 50%;
    height: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 120%;
}

#infoPlayer1 {
    grid-area: player1;
    border: black 1px solid;
    border-radius: 10px;
    margin: 1px;
}

#infoPlayer2 {
    grid-area: player2;
    border: black 1px solid;
    border-radius: 10px;
    margin: 1px;
}

#infoPlayer3 {
    grid-area: player3;
    border: black 1px solid;
    border-radius: 10px;
    margin: 1px;
}

#apuestasPlayer1 {
    margin: 10px;
    text-align: center;
}

#infoPlayer1 {
    display: flex;
}

#apuestasPlayer2 {
    margin: 10px;
    text-align: center;
}

#infoPlayer2 {
    display: flex;
}

#apuestasPlayer3 {
    margin: 10px;
    text-align: center;
}

#infoPlayer3 {
    display: flex;
}

#lossesPlayer1 {
    margin: 10px;
    color: red;
    text-align: center;
}

#profitsPlayer1 {
    margin: 10px;
    color: green;
    text-align: center;
}

#saldoPlayer1 {
    margin: 10px;
    text-align: center;
}

#lossesPlayer2 {
    margin: 10px;
    color: red;
    text-align: center;
}

#profitsPlayer2 {
    margin: 10px;
    color: green;
    text-align: center;
}

#saldoPlayer2 {
    margin: 10px;
    text-align: center;
}

#lossesPlayer3 {
    margin: 10px;
    color: red;
    text-align: center;
}

#profitsPlayer3 {
    margin: 10px;
    color: green;
    text-align: center;
}

#saldoPlayer3 {
    margin: 10px;
    text-align: center;
}

#playAgain {
    width: 50%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 120%;
    grid-area: boton;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    border-color: #f44336;
    color: red;
    border-radius: 5px;
}

#playAgain:hover {
    background: #f44336;
    color: white;
}

#logout:hover {
    background-color: rgb(216, 215, 215);
    cursor: hand;
}

#selectPlayer1 {
    border: 2px solid black;
    background-color: white;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    border-color: #04AA6D;
    color: green;
    border-radius: 5px;
    grid-area: select;
}

#selectPlayer1:hover {
    background-color: #04AA6D;
    color: white;
}

#selectPlayer2 {
    border: 2px solid black;
    background-color: white;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    border-color: #04AA6D;
    color: green;
    border-radius: 5px;
    grid-area: select;
}

#selectPlayer2:hover {
    background-color: #04AA6D;
    color: white;
}

#selectPlayer3 {
    border: 2px solid black;
    background-color: white;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    border-color: #04AA6D;
    color: green;
    border-radius: 5px;
    grid-area: select;
}

#selectPlayer3:hover {
    background-color: #04AA6D;
    color: white;
}