<script defer src="javascript/Redirect.js"></script>

<div id="containerP">
  <p id="tittle" style="font-size: 200%;">
    Bienvenido a la pagina de prueba
  </p>
  <button type="button" id="ButtonRedirect">Direccionar a
    http://localhost:4000/users/cool</button>
</div>

<link rel="stylesheet" href="/css/style.css" />